<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>

    <script
            crossorigin="anonymous"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS & JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen"
          rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form enctype="multipart/form-data" method="post" role="form" th:action="@{/}">
    <legend>Update a Picture</legend>

    <div class="form-group">
        <label for="image">Image</label>
        <input accept="image/jpeg,image/png,image/gif" class="form-control" id="image" name="image" type="file"></input>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<div th:each="image : ${images}">
    <img alt="Image" class="img-responsive" th:src="${image.toStreamingURI()}"></img>
</div>
</body>
</html>
